### PROJECT SETTINGS

PROJECT_NAME=dacem
PROJECT_BASE_URL=dacem.ddev.site

## Environment indicator
## see settings.local.php
ENV_NAME=Local
#ENV_NAME=Testing
#ENV_NAME=Staging
#ENV_NAME=Production

## DB connection
DB_NAME=db
DB_USER=db
DB_PASSWORD=db
DB_ROOT_PASSWORD=password
DB_HOST=db
DB_PORT=3306
DB_DRIVER=mysql

## CLI installation
PROFILE=minimal
SITE_NAME="DACEM"
SITE_MAIL=no-reply@example.com
ACCOUNT_NAME=admin
ACCOUNT_MAIL=admin@example.com
ACCOUNT_PASS=
# The account pass can be left blank; Drush will generate a password.

## Backup retention policy
## see scripts/generate_backup.sh
KEEP_PREVIOUS_HOURLY=
KEEP_PREVIOUS_DAILY=
KEEP_PREVIOUS_WEEKLY=
KEEP_PREVIOUS_MONTHLY=
